---
- name: Initialize Kubernetes cluster
  shell: |
    kubeadm init \
      --control-plane-endpoint "CT100:{{ haproxy_k8s_api_port }}" \
      --upload-certs \
      --pod-network-cidr={{ pod_network_cidr }} \
      --service-cidr={{ service_cidr }} \
      --apiserver-cert-extra-sans=control01,CT100,10.10.0.11
  register: kubeadm_init

- name: Copy kubeconfig to user directory
  shell: |
    mkdir -p $HOME/.kube
    cp -i /etc/kubernetes/admin.conf $HOME/.kube/config
    chown $(id -u):$(id -g) $HOME/.kube/config

- name: Generate join command for control plane
  shell: kubeadm token create --print-join-command
  register: join_command

- name: Save join command
  local_action:
    module: copy
    content: "{{ join_command.stdout }}"
    dest: "/tmp/join-command.txt"
