---
- name: Install HAProxy
  yum:
    name: haproxy
    state: present

- name: Configure HAProxy
  template:
    src: haproxy.cfg.j2
    dest: /etc/haproxy/haproxy.cfg
  notify: restart haproxy

- name: Enable and start HAProxy
  service:
    name: haproxy
    state: started
    enabled: yes
